@charset "UTF-8";
h1 {
  font-size: 72px;
  font-family: serif;
  color: #d63334;
  margin: 50px;
  text-align: center; }

h2 {
  font-size: 55px;
  font-family: serif;
  color: #d63334;
  margin: 30px; }

h3 {
  font-size: 41px;
  font-family: serif;
  color: #d63334; }

h4 {
  font-size: 33px; }

h5 {
  font-size: 26px; }

h6, p {
  font-size: 20px;
  color: #0e4b9c; }

body {
  background-color: #ffffff; }

a {
  text-decoration: none; }

nav {
  background-color: #d63334; }
  nav .navbar-brand, nav h6 {
    color: white !important; }
  nav a, nav .nav-link {
    color: white; }
  nav img {
    width: 50px;
    height: 50px; }

.nav2 {
  background-color: #d63334;
  height: 66px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 99; }
  .nav2 .grid-nav {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr; }
  .nav2 img {
    height: 50px;
    width: 50px;
    margin-right: 50px; }
  .nav2 .text-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .nav2 .text-center a {
      font-size: 25px;
      color: #ffffff; }
    .nav2 .text-center a:hover {
      color: #fdb926;
      background-color: hwb(0 100% 0%/0.02); }
  .nav2 .telefono {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px; }
    .nav2 .telefono p {
      margin: 0px;
      color: white; }
    .nav2 .telefono i {
      padding-right: 5px; }
  .nav2 .elegido {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(255, 0, 0, 0) white rgba(255, 0, 0, 0); }

@media screen and (min-width: 769px) {
  #nav-bar-bootstrap {
    display: none; } }

@media screen and (max-width: 768px) {
  #nav-bar-humilde {
    display: none; } }

@media screen and (max-width: 1024px) {
  #nav-bar-humilde .telefono {
    display: none; }
  #nav-bar-humilde .grid-nav {
    grid-template-columns: 1fr 5fr; }
  #nav-bar-humilde .text-center {
    padding-right: 50px; } }

footer {
  margin-top: 50px;
  box-shadow: inset 0px 200px 14px -180px white;
  background-image: url("../images/triangle.png");
  background-size: cover;
  padding: 50px 25px 25px 25px; }
  footer p {
    margin: 0; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p, footer i {
    color: black;
    text-shadow: 0px 0px 15px #9b9b9b; }
  footer .contacto-footer {
    text-align: center; }
  footer .redes-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    align-items: center; }
    footer .redes-footer .item-redes-footer {
      aspect-ratio: 1/1;
      border: 2px solid black;
      height: 75px;
      margin: 50px 25px 20px 25px;
      box-shadow: inset 0px 0px 5px #6e6e6e;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .redes-footer .item-redes-footer h5 {
        font-size: 40px;
        margin: 0px; }

.in main .presentacion .carousel img {
  height: 430px; }

.in main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px; }
  .in main .container img {
    align-items: center;
    border-radius: 25px;
    width: 400px;
    height: 200px; }

.in main .intro {
  display: flex;
  flex-direction: row;
  margin: 10px 150px; }
  .in main .intro div {
    margin: 20px; }
    .in main .intro div p {
      font-size: x-large;
      margin: 0; }
    .in main .intro div .rojo {
      color: #d63334;
      font-size: xx-large;
      font-weight: bold; }
  .in main .intro img {
    border-radius: 5%;
    margin: 10px 50px; }

.in main .servicios h2 {
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff; }

.in main .cont-servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px; }
  .in main .cont-servicios .servicio-empresas, .in main .cont-servicios .servicio-mantenimiento, .in main .cont-servicios .servicio-hogar {
    cursor: pointer; }
    .in main .cont-servicios .servicio-empresas p, .in main .cont-servicios .servicio-mantenimiento p, .in main .cont-servicios .servicio-hogar p {
      text-align: center;
      animation-name: rawr; }
    .in main .cont-servicios .servicio-empresas i, .in main .cont-servicios .servicio-mantenimiento i, .in main .cont-servicios .servicio-hogar i {
      font-size: 110px; }
    .in main .cont-servicios .servicio-empresas i, .in main .cont-servicios .servicio-mantenimiento i, .in main .cont-servicios .servicio-hogar i {
      background-size: contain;
      background-repeat: no-repeat;
      align-content: center;
      padding: 50px; }
  .in main .cont-servicios .servicio-empresas i {
    background-image: url(../images/rombo.png); }
  .in main .cont-servicios .servicio-hogar i {
    padding: 45px 43.13px 55px 43.13px; }

.in main .servicios-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 100px 100px 100px;
  list-style-position: outside; }
  .in main .servicios-desc .descripciones {
    width: 600px; }
  .in main .servicios-desc li {
    font-size: 25px;
    margin-bottom: 30px;
    color: #0e4b9c;
    padding-left: 15px;
    list-style-type: "▷"; }
  .in main .servicios-desc img {
    height: 500px;
    width: 400px; }
  .in main .servicios-desc h3 {
    margin-top: 0px;
    margin-bottom: 40px; }

.in main #mantenimiento, .in main #hogar {
  display: none; }

.in main .prologo {
  margin: 200px 0px 100px 0px;
  padding: 150px 100px;
  background-image: url(../images/servicio-limpieza.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .in main .prologo h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 8px #7c7c7c; }
  .in main .prologo p {
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 8px #7c7c7c; }

.in main .clientes {
  text-align: center; }

@keyframes rawr {
  100% {
    transform: translateY(50px); } }

.eq main h1, .eq main h2 {
  text-align: center; }

.eq main .row img {
  width: 100%;
  height: 300px; }

.eq main .row {
  margin-top: 100px; }

.eq main .container {
  margin: 100px; }

.eq main .carousel img {
  width: 100%;
  height: 450px; }

.eq main .carousel h5, .eq main .carousel h6 {
  color: white;
  text-shadow: 0px 0px 8px #7c7c7c; }

.eq main .container .col-7 {
  text-align: center; }
  .eq main .container .col-7 h2 {
    margin-top: 0px; }

.cl * {
  box-sizing: border-box; }

.cl body {
  margin: 0px;
  padding: 0px; }

.cl img {
  width: 100%; }

.cl .fila {
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }

.cl .columna {
  flex: 25%;
  padding: 5px; }
  .cl .columna img {
    margin-top: 5px; }

@media screen and (max-width: 1000px) {
  .cl .columna {
    flex: 50%; } }

@media screen and (max-width: 600px) {
  .cl .columna {
    flex: 100%; } }

.co .presentacion {
  align-items: center; }
  .co .presentacion img {
    max-width: 100vw;
    text-align: center; }

.co .mapa-texto {
  display: flex;
  flex-direction: row;
  margin: 50px 100px; }

.co .formulario {
  margin: 30px;
  padding: 15px;
  border: 10px;
  border-style: solid;
  border-color: #0e4b9c; }
  .co .formulario p {
    font-size: 22px; }
  .co .formulario input, .co .formulario select, .co .formulario textarea {
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 100%; }
  .co .formulario .botton {
    text-align: center; }
    .co .formulario .botton button {
      background-color: #d63334;
      border: 3px;
      border-style: solid;
      border-color: #d63334;
      border-radius: 10px;
      font-size: 24px;
      color: white;
      padding: 5px 10px 5px 10px; }
