.co{

    .presentacion {
        align-items: center;
        
    

    img {
        
        width: 100vw;
        text-align: center;
    }
    }

    .mapa-texto {
        display: flex;
        flex-direction: row;

        margin: 50px 100px;
    }


    .formulario {

        margin: 30px;

        padding: 15px;

        border: 10px;
        border-style: solid;
        border-color: $secundary;
        


        p {
            font-size: 22px;
        }

        input, select, textarea{
            background-color: white;
            
            border: 5px;
            border-style: solid;
            border-color: black;

            width: 100%;
            height: 100%;
        }

        .botton{
          text-align: center;

          button{
            background-color: $primary;

            border: 3px;
            border-style: solid;
            border-color: $primary;

            border-radius: 10px;

            font-size: 24px;
            color: white;
            padding: 5px 10px 5px 10px;
          }
        }
    }

}