footer{

  .container {
    padding-top: 50px;
    margin-top: 20px;
  }


  p {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6, p, i{
    color: black;
  }
  
  background-color:  #9f9f9a;

    .texto-footer {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h4 {
        margin: 10px;
      }

      .iron-crean-img-footer{
        width: 75px;
        height: 75px;
      }

      .adel-img-footer{
        width: 100px;
        height: 75px;
      }
    }

    .contacto-footer{
      margin-top: -25px;
      .telefono-insta{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .mail{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    

}