$primary:#d63334;
$secundary:#0e4b9c;
$tertiary: #ffffff;
$primary2: #ae5c43;


h1 {
    font-size: 72px;
    font-family: serif;
    color: $primary;
    margin: 50px;
    text-align: center;
    
}
h2 {
    font-size: 55px;
    font-family: serif;
    color: $primary;
    margin: 30px;

    
}
h3 {
    font-size: 41px;
    font-family: serif;
    color: $primary;

    
}
h4 {
    font-size: 33px;

    
}
h5 {
    font-size: 26px;

    
}
h6 ,p {
    
    font-size: 20px;
    color: $secundary;

    
}

body {
    background-color: #ffffff;
};

a {text-decoration: none}


nav {

    background-color: $primary;
    .navbar-brand, h6{color: white !important;}
    a, .nav-link{
        color: white;
    }

    img {
      width: 50px;
      height: 50px;
    };

}

.nav2 {
    background-color: #d63334;
    height: 66px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    position: sticky;
    top: 0;
    z-index: 99;

    .grid-nav{
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;

        
    }
    img {
        height: 50px;
        width: 50px; 
        
        margin-right: 50px;
    }

    .text-center{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        a{
            font-size: 25px;
            color: #ffffff;
        }
        a:hover{
            color: #fdb926;
            background-color: hwb(0 100% 0% / 0.02);
        }
    }
    
    .telefono {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;

        p {
            margin: 0px;
            color: white;
        }

        i {
            padding-right: 5px;
        }
    }


    .elegido{
        border-width: 0px 0px 2px 0px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(255, 0, 0, 0) rgb(255, 255, 255) rgba(255, 0, 0, 0);
    }
}



///desaparecen el nav de bootstrap y aparece el humilde
@media screen and (min-width: 769px) {
    #nav-bar-bootstrap {
         display: none;
     }
}

@media screen and (max-width: 768px) {
    #nav-bar-humilde {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #nav-bar-humilde{
        .telefono{
            display: none;
        }
        .grid-nav{
            grid-template-columns: 1fr 5fr;
        }
        .text-center{
            padding-right: 50px;
        }
    }
}