// $primary:#bb4747;
$primary:#d63334;
$secundary:#0e4b9c;
// $tertiary: #f5f4e1;
$tertiary: #ffffff;
$primary2: #ae5c43;


//  h1, h2, h3, h4, h5, h6, p {
//      background-color: white;
//  };

h1 {
    font-size: 72px;
    font-family: serif;
    color: $primary;
    margin: 50px;
    text-align: center;
    
}
h2 {
    font-size: 55px;
    font-family: serif;
    color: $primary;
    margin: 30px;

    
}
h3 {
    font-size: 41px;
    font-family: serif;
    color: $primary;

    
}
h4 {
    font-size: 33px;

    
}
h5 {
    font-size: 26px;

    
}
h6 ,p {
    
    font-size: 20px;
    color: $secundary;

    
}

body {
    background: white;
};

a {text-decoration: none}


nav {

    background-color: $primary;
    
    a, .nav-link{
        color: white;
    }

    img {
      width: 50px;
      height: 50px;
    };

    // mandar todo al medio en <- === ->

}

