.in {

main{

    .presentacion .carousel img {
        height: 430px;
    }
    
    .container{

        

        display: flex;
        flex-direction: row;
        justify-content: space-around ;
        margin-top: 100px;
        margin-bottom: 100px;
        

        img {
        align-items: center;
        border-radius: 25px;
        width: 400px;
        height: 200px;
        }
    }

    .intro {
        margin: 10px 100px;

        h1{text-align: center;}
    }

    .servicios h2{
        margin-top: 50px;
        text-align: center;
        
    }
    .cont-servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-bottom: 50px;
        
        .servicio-empresas ,.servicio-oficinas ,.servicio-consorcio{
            p {text-align: center;}
            

            i {
                font-size: 110px;
            }
        }

        // eliminar desp//
        .servicio-empresas {
            background-color: #0e4c9c3f;
        }
    }
    .servicios-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin: 100px;
        
        ul {
            margin-left: 10vh;
        }
        li {
            font-size: 25px;
            margin-bottom: 10px;
            color: $secundary;
        }
        img {
            height: 500px;
            width: 400px;
        }
        h2 {
            margin-top: 0px;
        }
        
        
    }

    .prologo {
        margin: 200px 0px 100px 0px;
        padding: 100px 50px;

        background-image: url(../images/servicio-limpieza.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        p {
            font-size: 40px;
            color: white;
            text-shadow: 0px 0px 8px rgb(124, 124, 124),;
        }
    }

    .clientes {
        text-align: center;
    }
}

}

