.in {

main{

    .presentacion .carousel img {
        height: 430px;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around ;
        margin-top: 100px;
        margin-bottom: 100px;
        

        img {
        align-items: center;
        border-radius: 25px;
        width: 400px;
        height: 200px;
        }
    }

    .intro {
        margin: 10px 100px;

        

        p {
            .rojo{
                color: $primary;
                font-size: larger;
                font-weight: bold;
            }
            background-color: $tertiary;
            padding: 20px;
        }
    }

    .servicios h2{
        margin-top: 50px;
        text-align: center;
        background-color: $tertiary;
        
    }
    .cont-servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        padding-left: 100px;
        padding-right: 100px;
        
        .servicio-empresas ,.servicio-mantenimiento ,.servicio-hogar{
            p {text-align: center;
            animation-name: rawr} 
            i {font-size: 110px;}
            

            cursor: pointer;

            i{
                background-size: contain;
                background-repeat: no-repeat;
                align-content: center;
                padding: 50px;}
        
        }

        .servicio-empresas i{
            background-image: url(../images/rombo.png);
        }

        .servicio-hogar i{
            padding: 45px 43.13px 55px 43.13px;
        }
    }
    .servicios-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin: 0px 100px 100px 100px;
        list-style-position: outside;
        
        .descripciones {
            width: 600px;
        }
        
        li {
            font-size: 25px;
            margin-bottom: 30px;
            color: $secundary;
            padding-left: 15px;
            list-style-type: "▷";
            
        }
        img {
            height: 500px;
            width: 400px;
        }
        h3 {
            margin-top: 0px;
            margin-bottom: 40px;
            
        }
        
        
    }

    #mantenimiento , #hogar{
        display: none;
    }

    
     
    


    .prologo {
        margin: 200px 0px 100px 0px;
        padding: 150px 100px;

        background-image: url(../images/servicio-limpieza.jpg);
        background-repeat: no-repeat;
        background-size: cover;


        h4 {
            margin-bottom: 20px;

            text-align: center;
            font-size: 45px;
            color: white;
            text-shadow: 0px 0px 8px rgb(124, 124, 124),
        }

        p {
            font-size: 40px;
            color: white;
            text-shadow: 0px 0px 8px rgb(124, 124, 124),;
        }
    }

    .clientes {
        text-align: center;
    }
}

}



 @keyframes rawr {
100%{
    transform: translateY(50px);
}
 }